# Core
numpy==1.26.4
opencv-python-headless==4.9.0.80
Pillow==10.4.0
scikit-image==0.21.0
scipy==1.11.4
tqdm==4.66.0

# Web App
streamlit==1.36.0
streamlit-option-menu==0.3.6

# Image IO
imageio==2.34.0

# Data & Analysis
pandas==2.2.2
matplotlib==3.9.0

# Utils
python-dotenv==1.0.1
pydantic==2.9.2